body {
  font-family: "Montserrat", sans-serif;
  background-color: #f0ecec;
  height: 100%;
  margin-top: 50px;
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #c1c1c1; 
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8
}

::-webkit-scrollbar-thumb:active {
  background: #9b9b9b; 
}
img {
  border: 2px solid transparent;
  border-radius: 6px;
  transition: border-color 0.3s ease;
}

img:hover {
  border: 2px solid #fc4c02;
  border-radius: 6px;
}

.img-container {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navbar a, .dropbtn, .dropdown {
  transition: background-color 0.3s ease; 
  border-radius: 3px;
}

.overlay-content a:hover, .overlaydropdown:hover {
  transition: background-color 0.3s ease; 
  border-radius: 3px;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.close-btn {
  color: orange !important;
  font-weight: bolder;
  background-color: rgba(0,0,0,0.1) !important;
  text-align: center !important;
}
.close-btn:hover {
  background-color: rgba(255,0,0,0.5) !important;
}

@media screen and (max-width: 1224px) {
  body {
    margin-top:100px;
  }
  @media screen and (max-width: 600px) {
    body {
      margin-top: 50px;
    }
  }
}
@media (max-width: 600px) {
  .banner-container {
     background-image: url('/slike/baner_skola_f.webp');
  }
}

/* Media query for screens larger than 600px */
@media (min-width: 601px) {
  .banner-container {
    background-image: url('/slike/baner_skola.webp');
  }
}

/* Fallback for browsers that don't support WebP */
  /* Media query for screens less than 600px */
@media (max-width: 600px) {
  .banner-container.no-webp {
    background-image: url('/slike/baner_skola_f.jpg');
  }
}

/* Media query for screens larger than 600px */
@media (min-width: 601px) {
  .banner-container.no-webp {
    background-image: url('/slike/baner_skola.jpg');
  }
}

.banner-container {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.box {
  background-color: transparent;
  z-index: 20;
  width: 100%;
  height: 100%;
  position:fixed;
  top:0;
  left:0;
  backdrop-filter: blur(3px);
  background-color: rgba(23, 20, 20, 0.5);
}

.overlay {
  display: none;
}

h4 {
  margin: 0;
}

#embedded-map-display {
  text-align: center;
  height: 50%;
  width: 100%;
}

#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 32px;
  background-color: #888; /* Gray-ish colorsa */
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: opacity .2s ease-out;
  transition: opacity .2s ease-out;
}

#scrollToTopBtn:hover {
  background-color: #666; /* Darker gray on hover */
  border: 2px solid #555;
}

.cn-line {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
}

.line {
    background-color: black;
    display: block;
    flex: 1;
    height: 2px;
    opacity: .1;
}

.pglv {
  padding-left: 20px;
  padding-right:20px;
}

.centar {
  text-align: center;
  font-family: "Cuprum", sans-serif;
  padding-left: 20px;
  padding-right: 20px;
}

.naslov {
  text-align: center;
  font-family: "Cuprum", sans-serif;
  position: absolute;
  left: 50%;
  top: 30%;
  color: white;
  transform: translateX(-50%);
  z-index: 1;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3), /* Bottom-left shadow */
                5px 5px 10px rgba(0, 0, 0, 0.1),  /* Bottom-right shadow */
                -5px -5px 10px rgba(0, 0, 0, 0.1), /* Top-left shadow */
                5px -5px 10px rgba(0, 0, 0, 0.0); /* Top-right shadow */
  font-size: 1.5em;
  animation: moveLeftToRight 3.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  transition: opacity 0.5s ease;
  opacity: 0;
}

.naslov.show {
    opacity: 1; /* Change opacity to 1 to reveal the element */
  }

@keyframes moveLeftToRight {
  0% {
    transform: translateX(-79%); /* Start offscreen left */
  }
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Навигација */
.navbar {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #333;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  z-index: 30;
  padding-left:0;
  padding-right:0;
  transition: background-color 0.3s ease;
  width: 100%;
}

.navbar .dropdown i {
  transition: transform 0.3s ease-in-out;
}

.overlaydropdown i {
  transition: transform 0.3s ease-in-out;
}

.navbar .dropdown:hover i {
  transform: rotate(180deg);
}

.overlaydropdown:hover i {
    transform: rotate(180deg);
}

.navbar .dropdown i {
  transform: rotate(0deg);
}

.overlaydropdown i {
    transform: rotate(0deg);
}

.navbar .icon {
  display: none;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  z-index: 31;
  position:relative;
}

/* Падајући линкови */
.dropdown {
  float: left;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.overlaydropdown {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  position: relative;
  font-size: 16px;
  color: white;
  padding: 10px;
  font-family: inherit;
  margin: 0px;
  background-color: transparent;
  font-size:1em;
}


.overlaydropdown:hover {
  background-color: rgba(255,0,0,0.5)
}

/* Дугме за падајући мени */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0px;
  position:relative;
}

.overlaydropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  background-color: transparent;
  font-family: inherit;
  margin: 0px;
  font-weight: bold;
  font-size: inherit;
  transition: background-color 0.3s ease;
  text-shadow: 
                -1px -1px 0 #000,  
                 1px -1px 0 #000,
                -1px  1px 0 #000,
                 1px  1px 0 #000;
}
/* Црвена позадина линкова */

/* Падајући мени */
.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 3;
  font-family: "Cuprum", sans-serif;
  -webkit-animation: fadeIn .2s;
  animation: fadeIn .2s;
}

.overlaydropdown-content {
  display: none;
  position: absolute;
  top: 0;
  right:100%;
  min-width: 150px;
  z-index: 3;
  font-family: "Cuprum", sans-serif;
  animation: fadeIn 0.3s;
  -webkit-animation: fadeIn 0.3s;
}
/* Линкови у падајућем мениу */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.overlaydropdown-content a {
  float: none;
  color: black;
  padding: 10px 12px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Сива позадина падајућих линкова */
.dropdown-content a:hover, .dropdown-content a:focus {
  background-color: #ddd !important;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content, .dropdown:focus .dropdown-content {
  display: block;
}

@media screen and (max-width: 680px) {
  .navbar {
    font-family: "Cuprum", sans-serif;
  }
  .dropdown {
    font-family: "Cuprum", sans-serif;
  }
}

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
    top: -5px;
  }
  .naslov {
    font-size: 1em;
  }
  .navbar {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    max-height: 48px;
  }
@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
  }

  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .navbar.responsive .dropdown {float: none;}
  .navbar.responsive .dropdown-content {position: relative;}
  .navbar.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
}
/* Galerijanav */
.galerijanav {
  overflow: hidden;
  background-color: #333;
  font-family: "Cuprum", sans-serif;
  padding-left: 20px;
  z-index: 30;
  padding-left: 0;
  padding-right: 0;
}

/* Links inside galerijanav */
.galerijanav a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Hover effect for galerijanav links */
.galerijanav a:hover {
  background-color: red;
}

.overlay-content {
  position: fixed;
  top:50px;
  left:100% !important; 
  transform: translateX(-100%);
  min-width:180px;
  z-index:10000;
}
.overlay-content a {
    display: block;
    color: #fff;
    height: inherit;
    padding: 10px 16px;
    text-decoration: none;
    background-color: transparent;
}
.overlay-content a:hover {
  background-color: rgba(255,0,0,0.5)
}

@media screen and (min-width: 340px) {
  .overlay-content {
    left: 40%;
  }
}
  @media screen and (max-height: 485px) {
    .overlay-content {
      font-size: 0.9em;
    }
    .overlaydropdown-content {
      position: fixed;
      top: 0;
    }
  }
}
.navbar a::after, .dropbtn::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    cursor:pointer;
    height: 4px;
    background: #369;
    transition: width 0.3s ease, left 0.3s ease;
  }
  .navbar a:hover::after, .dropbtn:hover::after, .navbar a:focus::after, .dropbtn:focus::after {
    width: 100%;
    left: 0;
  }

.overlay-content a {
  text-shadow: 
                -1px -1px 0 #000,  
                 1px -1px 0 #000,
                -1px  1px 0 #000,
                 1px  1px 0 #000;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.menu-button {
    position: relative;
    width: 35px;
    height: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease;
}

.menu-button .line-nav {
    width: 100%;
    height: 5px;
    background-color: #777;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.overlay.active {
    display: block;
    opacity: 1;
}

.menu-button.active .line-nav:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
}

.menu-button.active .line-nav:nth-child(2) {
    opacity: 0;
}

.menu-button.active .line-nav:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
}
