body {
  font-family: "Montserrat", sans-serif;
  background-color: #f0ecec;
  padding:20px
}
/* Navbar container s*/
.navbar {
  position: fixed;
  top: 0; /* Set navbar to the top of the page */
  overflow: hidden;
  background-color: #333;
  font-family: "Cuprum", sans-serif;
}
/* Add styling for active link */
.navbar a.active {
    background-color: red;
}
.centar {
  text-align: center;
  font-family: "Cuprum", sans-serif;
}

.naslov {
  text-align: center;
  font-family: "Cuprum", sans-serif;
  font-size: 20px;
  position: absolute;
  left: 50%;
  color: white;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Shadow effect */
}

/* Add styling for active dropdown button */
.dropdown.active .dropbtn {
    background-color: red;
}

/* Links inside the navbars */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
